@import 'variaveis.scss';

@media (max-width: 810px) {
    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 375px;
        height: 100%;
        position: relative;
        box-shadow: none;
    }

    #section_steps_selection {
        display: flex;
        justify-content: center;
        z-index: 0;
        width: 100%;
        z-index: 0;
    }

    #bg_sidebar_steps {
        display: none;
    }

    #bg_sidebar_steps_mobile {
        display: block;
        position: absolute;
        width: 100%;
        z-index: 0;
    }

    #div_steps_selection {
        flex-direction: row;
        margin: 20px 0px;
        justify-content: center;
    }

    #steps {
        margin: 100px auto 0px auto;
        z-index: 5;
        background-color: white;
        width: 90%;
        height: 530px;
        position: relative;
        border-radius: 10px;
        border: 1px solid black;
        padding: 30px 10px;
        font-size: 14px;
    }

    #step_1 {
        line-height: 40px;

        h2 {
            font-size: 18px;
        }
    }

    .step_item {
        font-size: 20px;
        color: white;
        display: flex;
        gap: 20px;
        text-shadow: 1px 1px 3px #0000008f;

        div {
            display: none;
        }

        >span {
            width: 40px;
            height: 40px;
        }
    }

    .attribution {
        width: 100%;
        font-size: 14px;
        color: black;

        a {
            color: black;
        }
    }


    #step_2 {

        #step_2_options {
            gap: 10px;
            position: relative;
            display: flex;
            flex-direction: column;

            div {
                gap: 10px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                padding: 20px;

                img {
                    position: relative;

                }
            }
        }
    }


}

@media (max-width: 450px) {
    .attribution {
        display: none;
    }
}