// Color

$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);
$font-color-p: hsl(0, 2%, 44%);

// Font-size

$font-size-p: 16px;
$font-size-h1: 30px;